*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: none;
    background: rgb(85, 85, 85);
    position: relative;
}
.container{
    padding: 5rem 15rem;
    background: white;
    height: 100vh;
    position: relative;
    transform-origin: top left;
    z-index: 2;
}
.circle-btn button{
    background: tomato;
    width: 250px;
    height: 250px;
    position: fixed;
    top: -4rem;
    left: -6rem;
    border-radius: 50%;
}
button{
   color: black;
   position: relative;
   font-size: 1.6rem;
   border: none;
   background: transparent;

}
.post h1{
    margin-bottom: 1rem;
}
.post p{
    margin: 1rem 0 3rem 0;
}
small{
    font-style: italic;
}

.show-nav{
    transform: rotate(-20deg);
    /* top: -10rem; */
    transition:transform 2s ease;
}

.navigation {
   position: absolute;
   bottom: 4rem;
   left: 1rem;
}
.navigation ul li{
    list-style: none;
    margin: 1.5rem 0;
}
.navigation ul li i{
    color: tomato;
    
}
